---
import Layout from "../layouts/Layout.astro";

const title = "みやびの日常";
---

<Layout title={title}>

  <h1 class="text-5xl font-bold mb-8">
    {title}
  </h1>

  <p>
    とりとめのない日常の記録と好きなもの置き場。
  </p>

</Layout>