---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="音楽">

  <h1 class="text-4xl font-bold mb-10">
    音楽
  </h1>

  <section class="space-y-10">

    <!-- 曲 -->
    <div
      class="
        border
        border-emerald-300
        bg-emerald-50

        rounded-2xl
        p-6
      "
    >

      <h2 class="text-2xl font-bold mb-2">
        ガラクタロード
      </h2>

      <p class="mb-6 text-zinc-700">
        メ組のメ！
      </p>

      <div class="aspect-video">

        <iframe
          class="w-full h-full rounded-xl"
          src="https://www.youtube.com/embed/O9oCfxSJXTY"
          title="YouTube video player"
          frameborder="0"
          allowfullscreen
        ></iframe>

      </div>

    </div>

  </section>

</Layout>